<nav class="navbar navbar-pithy" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#pithy-navbar" aria-expanded="false">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{{site.baseurl}}/">Karmbhumi.in</a>
        </div>

        <div class="collapse navbar-collapse" id="pithy-navbar">
            <ul class="nav navbar-nav navbar">
                <li class="active"><a href="/">HOME</a></li>
                <li class="active"><a href="/kabir-dohe/">KABIR</a></li>
                <li class="active"><a href="/rahim-ke-dohe/">RAHIM</a></li>
                <li class="active"><a href="/tulsidas-dohe/">TULSIDAS</a></li>
                <li class="active"><a href="/raskhan-ke-dohe/">RASKHAN</a></li>
                <li class="active"><a href="/श्री-ईशोपनिषद-आदि-शंकराच/">ISOPANISHADS</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
