---
layout: default
---
<div class="container-fluid">
    <div class="col-md-8 col-content">
        <div id="post-content" class="panel panel-pithy post">
            <div class="panel-heading">
                <h3 class="title">
                  <i class="fa fa-bookmark-o"></i>{{page.title}}
                </h3>
                <ul class="info">
                    <li>Tags：
                     {% for tag in page.tags %}
                         <a class="tag" href="{{site.baseurl}}/tag/#{{ tag }}">{{ tag }}</a>
                     {% endfor %}
                    </li>
                </ul>
            </div>
            <div class="panel-body content">
                {{content}}
            </div>
            {% include share.html%}
        </div>
        
    </div>
    <div class="col-md-4 col-sidebar">
        {% include author.html%}
        {% include categories.html%}
        {% include tags.html%}
    </div>
</div>
